<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
    </head>
    <body>
        {% if form.errors %}
            <p>
                there is somthing wrong with that what you enter
            </p>
        {% endif %}
        {% if next %}
            <p>
                hey. you can't access to this page
            </p>
        {% endif %}
        <form action="{% url 'login' %}", method="post">
            {% csrf_token %}
            <p>
                username: {{ form.username }}
            </p>
            <p>
                password: {{ form.password }}
            </p>
            <p>
                <input type="submit" value="login">
            </p>
            <p>
                <input type="hidden" value="next" name="{{ next }}">
            </p>
        </form>
    </body>
</html>
